$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 100px;
  color: black;
}

h1 {
  font-size: 60px;
  font-family: phosphate;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  text-align: left;
}

.container section {
  height: auto;
  width: 460px;
  border: 5px solid black;
}

.row div {
  height: 150px;
  width: 150px;
  background-color: #50B9B8;
  opacity: 0.75;
  border: 2px solid black;
  float: left;
}

.jumbotron {
  padding-top: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

h3 {
  margin-top: 0;
  font-size: 30px;
  text-align: left;
}

form {
  margin-top: 0;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }

.jumbotron {
  border-bottom: 0;
  }
}
